<header class="bg-success text-white p-5 ">
    <h1>Olá {{usatual.nome}}!</h1>
    <h3>Bem-vindo ao Sistema de Pedidos OrderNow</h3>
    <p class="lead">Aqui você encontrará ferramentas para fazer e gerenciar seus pedidos</p>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-4 p-2">
            <h1>Configurações do Usuário</h1>
            <a href="/pages/atualizarcad/{{usatual.id}}" class="btn btn-primary">Editar</a>
            <a href="/pages/apagarcount/{{usatual.id}}" class="btn btn-danger">Apagar Sua Conta</a>
        </div>
        <div class="col-lg-12">
            <h1 class="titulosname text-white">Compre Agora</h1>
            <div class="row">
                <div class="col-md-6">
                    <div id="dados" class="card">
                        <div class="card-body">
                            {{#each produtos}}
                            <h5 class="card-title">{{this.nomep}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{this.priceu}}</h6>
                            <input type="number" id="qtdprod" name="qtd" min="0" value="0" pattern="^[0-9]+" class="form-control mb-2">
                            <img src="/img/{{this.img}}" alt="imgprod" width="100px" class="rounded mx-auto d-block">
                            {{/each}}
                            <br>
                            <button type="button" id="PrepararPedido" class="btn btn-success">Fazer Pedido</button>
                            <div>
                                {{#each ped}}
                                <input type="hidden" value="{{this.npedd}}" id="nped">
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <form action="/pages/dashb" method="POST">
                        <input type="hidden" name="id" value="{{usatual.id}}">
                        <h1>Pedido Atual</h1>
                        <div id="npededio" class="card mb-2"></div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Produto</th>
                                    <th scope="col">Quantidade</th>
                                    <th scope="col">Preço Único</th>
                                </tr>
                            </thead>
                            <tbody>
                                <th id="verprod" scope="row"></th>
                                <th id="verquant" scope="row"></th>
                                <th id="verpreco" scope="row"></th>
                            </tbody>
                        </table>
                        <div id="mandardadoscompra" class="card mb-2"></div>
                        <div id="valortotal" class="card mb-2"></div>
                        <button type="submit" class="btn btn-primary">Confirmar Compra</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <h1 class="titulosname text-white">Pedidos Concluídos</h1>
</div>
<div class="caixa3">
    <div class="col-lg-12">
        <ul class="d-flex justify-content-between cestlist">
            <li class="">Número do pedido</li>
            <li class="">Produto </li>
            <li class="">Quantidade</li>
            <li class="">Valor Final dessa compra(R$)</li>
        </ul>
        {{#each ped}}
        <ul class="d-flex justify-content-between cestlistd">
            <li class="pedinfo1">{{this.npedd}}</li>
            <li class="pedinfo2">{{this.nomep}}</li>
            <li class="pedinfo3">{{this.qtdp}}</li>
            <li class="pedinfo4">{{this.vtt_compra}}</li>
        </ul>
        {{/each}}
    </div>
    {{#if exibirpedidos}}
    <p>Você não tem pedidos em nossa loja ,Veja nossos Produtos</p>
    {{/if}}
</div>
</div>
<script src="../func/calculopedido.js" defer></script>