<div>
    <h1>Página de Poekomn</h1>
</div>
<div>
    <h1>Pedidos</h1>
    <ul>
        {{#each pdds}}
        <li>{{this.id_pedidos}}</li>
        <li>{{this.npedd}}</li>
        <li>{{this.nomep}}</li>
        {{/each}}
    </ul>
    {{#if Pedidosvazio}}
        <p>Ainda não há nenhum pensamento cadastrado, crie o seu <a href="/toughts/add">clicando aqui</a></p>
    {{/if}}
</div>
<div>
    <h1>Produtos</h1>
    <ul>
        {{#each pdds}}
        <li>{{this.nomep}}</li>
        <li>{{this.priceu}}</li>
        <li>{{this.id_produtos}}</li>
        {{/each}}
    </ul>
    {{#if prodlist}}
        <p>Ainda não há nenhum pensamento cadastrado, crie o seu <a href="/toughts/add">clicando aqui</a></p>
    {{/if}}
</div>
<div>
    <h1>Especificações do usuário</h1>
    <ul>
        {{#each usatual}}
        <li>{{this.id_us}}</li>
        <li>{{this.nome}}</li>
        <li>{{this.login}}</li>
        {{/each}}
    </ul>
</div>